@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 640px) {
  a.active {
    background-color: purple;
    color: white;
  }
}
