@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: "Times New Roman", Times, serif;
}

::-webkit-scrollbar{
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: purple;
    color: white;
  }
}

.input {
  @apply w-full 
  border-2 border-black 
  rounded-lg 
  px-5 py-3 
  text-base 
  bg-white 
  focus:outline-none 
  focus:border-purple-600 
  focus:ring-2 
  focus:ring-purple-200;
}

